nav{
    color: antiquewhite;
    padding: 3%;
    background-color: #1c6805;
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0.4% 3%;
    padding: 3%;
    font-size: 120%;
    display: inline-block;
    background-color: green;
    border-radius: 20px;
    
}
p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 2%;
    font-size: 120%;
}

.sucos img{
    height: 50%;
    width: 50%;
    float: left;
    border-radius: 20px;
    margin: 0.5% 0 0 25%;
    border: solid 4px green;
}

.sucos p{
    margin: 50% 2% 0 2%;
    padding: 1%;
    text-align: center;
}

.sucos {
    width: 80%;
    height: 40%;
    padding: 0.5% 0 3% 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 2% 10%;
}
.sucos1 img{
    height: 50%;
    width: 50%;
    float: left;
    border-radius: 20px;
    margin: 0.5% 0 0 25%;
    border: solid 4px green;
}

.sucos1 p{
    margin: 50% 2% 0 2%;
    padding: 1%;
    text-align: center;;
}

.sucos1 {
    width: 80%;
    height: 30%;
    padding: 0.5% 0 0 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin: 1% 10%;
}


header img{
    width: 100%;
}

body{
    background-color: #a4bc6b;
}

footer{
    margin: 4% 0 0 0;
    background-color: #1c6805;
    padding: 10% 10% 15% 10%;
}

footer p{
    text-align: center;
    color: white;
    margin: 0 0 0 -2%;
}
.pe1{
    font-size: 9.6px;
}
footer img{
    width: 10%;
    height: 10%;
    margin: 2% 0 0 9%;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.pe{
    font-size: 90%;
    display: inline-block;
    margin-left: 2.5%;
}