
nav{
    color: antiquewhite;
    padding: 3%;
    background-color: #1c6805;
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0.4% 3%;
    padding: 3%;
    font-size: 120%;
    display: inline-block;
    background-color: green;
    border-radius: 20px;
}

header img{
    width: 100%;
}

body{
    background-color: #a4bc6b;
}
footer{
    margin: 4% 0 0 0;
    background-color: #1c6805;
    padding: 10% 10% 15% 10%;
}

footer p{
    text-align: center;
    color: white;
    margin: 0 0 0 -2%;
}
.pe1{
    font-size: 9.6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer img{
    width: 10%;
    height: 10%;
    margin: 2% 0 0 9%;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.pe{
    font-size: 90%;
    display: inline-block;
    margin-left: 2.5%;
}
.s1 img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin: -3% 0 0 25%;
    border-color: #1c6805;
    border-width: 2px;
    border-style: solid;
} 
.s1 p{
    margin: 2% 3% 0 3%;
    text-align: center;
}
.s1{
    width: 80%;
    height: 25%;
    padding: 3.5% 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 3% 10%;
}
.a p{
    margin: 2% 0 0 20%;
    background-color: #1c6805;
    border-radius: 20px;
    padding: 8% 15%;
    text-align: center;
    display: inline-block;
    color: white;
    border: solid 2px #fff;
}
.s2 img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin: 3% 0 0 25%;
    border-color: #1c6805;
    border-width: 2px;
    border-style: solid;
} 
.s2 p{
    margin: 2% 3% 0 3%;
    text-align: center;
}
.s2{
    width: 80%;
    height: 30%;
    padding: 2% 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 3% 10%;
}
.s2 h1{
    margin: 0 0 0 10%;
    font-size: 220%;
}
.a1 p{
    margin: 2% 0 0 18%;
    background-color: #1c6805;
    border-radius: 20px;
    padding: 8% 15%;
    text-align: center;
    display: inline-block;
    color: white;
    border: solid 2px #fff;
}
.s3 img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin: 3% 0 0 25%;
    border-color: #1c6805;
    border-width: 2px;
    border-style: solid;
} 
.s3 p{
    margin: 2% 3% 0 3%;
    text-align: center;
}
.s3{
    width: 80%;
    height: 30%;
    padding: 2% 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 3% 10%;
}
.s3 h1{
    margin: 0 0 3% 15%;
    font-size: 220%;
}
.a2 p{
    margin: 2% 0 0 18%;
    background-color: #1c6805;
    border-radius: 20px;
    padding: 8% 15%;
    text-align: center;
    display: inline-block;
    color: white;
    border: solid 2px #fff;
}
.a3 p{
    margin: 2% 0 0 18%;
    background-color: #1c6805;
    border-radius: 20px;
    padding: 8% 15%;
    text-align: center;
    display: inline-block;
    color: white;
    border: solid 2px #fff;
}
hr{
    margin: 2% 0 0 0;
}

.p p{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 25%;
    padding: 3.5% 0;
    margin: 3% 10%;
}


