nav{
    color: antiquewhite;
    padding: 3%;
    background-color: #1c6805;
    text-align: center;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 0.4% 3%;
    padding: 3%;
    font-size: 120%;
    display: inline-block;
    background-color: green;
    border-radius: 20px;
}

header img{
    width: 100%;
}

body{
    background-color: #a4bc6b;
}

.p{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 20%;
    padding: 3.5% 0 1% 0;
    margin: 3% 10%;
}
.p p{
    width: 70%;
    margin: 0 0 0 15%;
    font-size: 100%;
}

p {
    text-align: center;
    color: black;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

footer{
    margin: 4% 0 0 0;
    background-color: #1c6805;
    padding: 10% 10% 15% 10%;
}

footer p{
    text-align: center;
    color: white;
    margin: 0 0 0 -2%;
}

footer img{
    width: 10%;
    height: 10%;
    margin: 2% 0 0 9%;
}
.pe1{
    font-size: 9.6px;
}
footer a{
    text-decoration: none;
    color:inherit;

}
.pe{
    font-size: 90%;
    display: inline-block;
    margin-left: 2.5%;
}
.container h1{
    margin: 0 0 0 16%;
}
.container{
    width: 80%;
    height: 30%;
    padding: 2% 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(110%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 3% 10%;
}
.conteudo{
    width: 90%;
    border: 6px solid white;
    border-radius: 10px;
}
.conteudo img{
    width: 100%;
    border-radius: 5px;
}
.pessoa{
    margin: 3% 0 0 20%;
    width: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) brightness(120%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.2s ease;
    padding: 2.5% 2.5% 1.5% 2.5%;
}
.pessoa:hover{
    transform: scale(1.025);
}
.name{
    width: 50%;
    font-size: 0.9em;
    background-color: aliceblue;
    border-radius: 10px;
}